.example {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #2f2f37;
  max-width: 960px;
  padding: 16px;
}
.container {
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;

  @include tel {
    width: 480px;
  }

  @include tablet {
    width: 768px;
  }

  @include desktop {
    width: 100%;
  }
}

.search-form {
  display: flex;
  justify-content: center;
  background-color: rgb(11, 174, 238);
  padding: 20px 0;
    & input {
        padding: 5px;
        border-radius: 4px;
        border: none;
        width: 250px;
      }
    & button {
      display: block;
      position: relative;
      right: 50px;
      padding: 10px;
      border-radius: 4px;
      border: none;
      font-style: normal;
  
    }
  }
.search-form__icon{
  display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.load-more {
  display: block;
margin-left: auto;
margin-right: auto;
padding: 10px;
border-radius: 4px;
  border: none;
  background-color: rgb(11, 174, 238);
  color:antiquewhite
}
.load-more[disabled] {
  background-color: rgb(11, 238, 68);
}
